.container {
  display : flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  width : 100%;
  text-align: left;
}

.link {
  color: #b87333;
}

.link:visited {
  color: #b87333;
}

.link:hover {
  color: lightgreen;
}

.link:active {
  color: lightblue;
}